.order-form .container {
    color: #003DB2;
    padding: 50px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, .1);
    max-width: 1000px;
    text-align: center;
}

.order-form-label {
    margin: 8px 0 0 0;
    font-size: 14px;
    font-weight: bold;
}

.btn{
    background-color: #003DB2;
    width: 10%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    font-weight: 400;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover {
    background-color: #fff;
    color: black;
    border: 2px solid black;
}

body {
    background: white;
}